<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商城高并发抢购-抢购成功商品详情页面</title>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 th:text="'当前用户名：'+${info.userName}" th:align="center"></h2>
        </div>
        <div class="panel-body">
            <h2 th:text="'抢购的商品名称：'+${info.itemName}" th:align="center"></h2>
        </div>
        <div class="panel-body">
            <h2 th:text="'订单编号：'+${info.code}" th:align="center"></h2>
        </div>
        <div class="panel-body">
            <h2 th:text="'成功抢购的时间：'+${info.createTime}" th:align="center"></h2>
        </div>
        <div class="panel-body">
            <h2>
                <p th:align="center"
                        th:if="${info.status==1}"> 当前支付的状态： <font color="red">已成功付款</font>
                </p>
                <p th:align="center"
                        th:if="${info.status!=1}"> 当前支付的状态：<font color="green">未支付或已取消</font>
                </p>
            </h2>
        </div>
    </div>
    <table th:align="center">
        <tr th:align="center">
            <td th:if="${info.status!=1}" th:align="center"><strong> <a th:align="center"  class="btn btn-info" th:href="@{'/kill/pay/'+${info.code}+'/'+${killId}+'/'+${userId}}" >点击支付</a></strong></td>
        </tr>
    </table>

</div>

</body>
<script type="text/javascript" th:src="@{../../static/plugins/jquery.js}"></script>
<script type="text/javascript" th:src="@{../../static/plugins/bootstrap-3.3.0/js/bootstrap.js}" ></script>
<script type="text/javascript" th:src="@{../../static/plugins/jquery.cookie.min.js}" ></script>
<script type="text/javascript" th:src="@{../../static/plugins/jquery.countdown.min.js}" ></script>
</html>
















